@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET MVC</h1>
    <p class="lead">Custom view engine implementation in ASP.Net MVC Web applications.</p>
    <p><a href="@Url.Action("CustomIndex","Home")" class="btn btn-primary btn-lg">Custom View &raquo;</a></p>
</div>
